<nav class="navbar navbar-expand-lg navbar-light bg-light" class="barra" style="background-color: rgba(0,0,0,.2)!important">
<a class="navbar-brand" href="INDEX"> <img src=" https://image.flaticon.com/icons/svg/1046/1046774.svg" width="30" height="30" class="d-inline-block align-top" alt="">
 EggsOnTheWall</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNavDropdown">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Features</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Recipies</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Follow Us
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="twiter">Twitter</a>
        <a class="dropdown-item" href="facebook">Instagram</a>
        <a class="dropdown-item" href="instagram">Pinterest</a>
      </div>
      <li class="nav-item">
      <a class="login" class="nav-link" href="login.erb">Login</a> </li>

      <li class="nav-item">
      <a class="signup" class="nav-link" href="singup.erb">Join Us</a> </li>
    </li>
    </li>
  </ul>
</div>
</nav>

  </nav>
