
      <h1>Bubble and squeak patties</h1> 
      <div class="context">
         
        <blockquote> <img src="https://img.taste.com.au/VNgrMNnn/w720-h480-cfill-q80/taste/2016/11/chicken-fried-rice-28524-1.jpeg"> <h2>Steps </h2>
<ol>
<li>
Place broccoli florets in a heatproof, microwave-safe bowl. Add 1 tablespoon cold water. Cover with plastic wrap. Microwave on HIGH ("100%") for 2 to 3 minutes or until very tender. Drain. </li>
<li>
Using a potato masher, roughly mash broccoli. Add potato, carrot, corn, chives and mustard. Stir to combine. Using damp hands, shape 2 tablespoons mixture into patties. Place on a baking tray lined with baking paper. Refrigerate for 30 minutes or until firm. </li>
<li>
Place rice flour on a plate. Lightly coat patties in flour. Heat oil in a frying pan over medium-high heat. Cook patties, in batches, for 2 to 3 minutes each side or until golden, adding more oil to pan if necessary. Transfer to a plate lined with paper towel. Cover to keep warm. Serve patties with tomato sauce and cos leaves. </li> </ol> </blockquote> <cite>-Ashley Smith</cite>
         </div>
      
      </div> 