<center> <h1>Welcome to Home</h1>
<h2> Ready to post? </h2>

 <br> <br>

<form method="POST" action="/create">
  <h3> Blog Away: </h3>
  <textarea name="message" placeholder="Type your message here"></textarea> 
  <br>
  <button id="send" type="submit">Send</button>
</form>



    <%= @test.inspect %>
   

</center>