<h1>Beef Stroganoff</h1> 
      <div class="context">
         
        <blockquote> <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/beef-stroganoff-horizontal-1539197158.jpg?crop=1.00xw:0.892xh;0.00160xw,0&resize=3840:*"> <h2>Steps </h2>
<ol>
<li>
Cut beef across grain into about 1 1/2x1/2-inch strips.
<li>
Cook mushrooms, onions and garlic in butter in 10-inch skillet over medium heat, stirring occasionally, until onions are tender; remove from skillet.</li>
<li>
Cook beef in same skillet until brown. Stir in 1 cup of the broth, the salt and Worcestershire sauce. Heat to boiling; reduce heat. Cover and simmer 15 minutes.</li>
<li>
Stir remaining 1/2 cup broth into flour; stir into beef mixture. Add onion mixture; heat to boiling, stirring constantly. Boil and stir 1 minute. Stir in sour cream; heat until hot (do not boil). Serve over noodles. </li> </ol> </blockquote> <cite>-Marco Garcia</cite>
         </div>
      </div>
