<center>  </h1> Your Recent Posts </h1> </center> 

<div class="ui feed">
<center><h2> Recent Post</h2> </center>

<% for post in @user.posts do%>
 
  <div class="card">
  <div class="card-header">
  <%= post.user.first_name %>
      
  </a> created a post
  </div>
  <h5 class="card-title"> <%= post.title %> </h5>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p> <%= post.summary %> </p>
      <footer class="blockquote-footer">   <i class="like icon"></i> 80 Likes <cite title="Source Title"> </cite></footer>
    </blockquote>
  </div>
</div>





       
        
        
 <% end %>
</div>
</div>