body{
    background-image: url("IMG_0672.jpg");
  }
  
  .barra{
    position:absolute;
  }
  .cont{
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 10%;
    margin-bottom: 10%;
    height: 1300px;
    background-color: white;
  }
  .login{
    display:inline-block;
    margin-left:500px;
    font-weight:100;
    font-size:20px;
  }
  
  .del{
    float:right;
  }
  
  .signup{
    display:inline-block;   
    margin-left:30px;
    font-weight:500;
    background-color:bisque;
    border-radius: 10%;
    font-size:20px;
  }
  .ui-form{
    text-align: center;
    margin-top: 5%;
    line-height: 2.5;
  }
 
  .ui.button{
    border-radius: 15%;
    height: 55px;
    widows: 65px;
    color:white;
    font-size: 20px;
    background-color: orangered;
    padding: 15px 15px 15px 15px;
  }
  label{
    font-size: 25px;
font-family: 'Oswald', sans-serif;
  }

 h2{ 
   font-family: 'Playfair Display', serif; 
 }

 .spacer.{
   height: 200px;
 }

.context{
  margin-top: 5%;
  width: 100%;
  font-size: 25px;
  height: 400px;
  background-color: white;
  padding-right: 30px;
  padding-left: 30px;
  text-align: left;
}
img{
  float: right;
  width: 200px;
  height: 200px;
}
ol{
  font-size: 20px;
  padding-left: 20px;
}
#log{
  width: 30px;
  height: 30px;
}
textarea{
  margin-left: 100px;
  text-align: center;
  width: 500px; 
  height: 100px;
}
h3{
  margin-left: 100px;
}

#send{
  border-radius: 15%;
  height: 55px;
  widows: 65px;
  color:white;
  font-size: 20px;
  background-color: orangered;
  padding: 15px 15px 15px 15px;
}


#post_div{
  width:80%;
  height:400px;
  box-shadow:5px 5px 15px rgba(0,0,0,0.6);
  border-radius:3px;
  margin: 0 auto;
  display: block;
}

#post_title{
  font-size: 1em;
  margin:0 auto;
}
#post_image{
width:200px;
height:200ox;
}
#post_paragraph{
  width:100%;
  height:25%;
}
